{% extends 'posts/layouts/base.html'%}
{%block title%}Register {%endblock%}
{%block body%}
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
                  <p>Your password has been set. You may go ahead and log in now.</p>
                  <p>Password reset complete</p>
                    <input type="submit" class="btn btn-primary mt-3" value="Log in">
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
{%endblock%}