{% extends 'posts/layouts/base.html'%}
{%block title%}Register {%endblock%}
{%block body%}
{% load i18n %}
{% autoescape off %}
{% blocktranslate %}Vous avez reçu cet e-mail car vous avez demandé une réinitialisation de mot de passe pour votre compte utilisateur sur {{ site_name }}.{% endblocktranslate %}

{% translate "Veuillez vous rendre sur la page suivante et choisissez un nouveau mot de passe :" %}
{{ protocol }}://{{ domain }}{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}

{% translate 'Votre nom d’utilisateur est' %}: {{ user.get_username }}

{% translate 'Merci d’utiliser notre site !' %}

{% blocktranslate %}L’équipe {{ site_name }}{% endblocktranslate %}
{% endautoescape %}
{%endblock%}registration